html {
 background-image: url('../images/linen-lt.png'); 
}

body {
 margin: 0px;
 padding: 0px;
 color:#5e5e5e 
}

.outer {
 padding:20px 
}

#container {
 width:99%;
 box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
 border-radius: 4px; 
}

#slider {
  margin-top: 15px;
  width: 99%;
}